body{
  display: grid;
  place-items:  center;
}
.contain{
  width: 31rem;
  height: 33rem;
  background-color: #D6D6CB;
  border-radius: 120px;
  position: relative;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 10px 0 5px -2px rgba(0,0,0, 0.25);
  
  @media (max-width: 700px){
      width: 25rem;
  }
  &__profile{
    width: 23rem;
    height: 23rem;
    border: 10px solid #A8A29B;
    position: relative;
    left: 8%;
    top: 10%;
    border-radius: 50%;
    
     @media (max-width: 700px){
       width: 21rem;
       height: 21rem;
  }
    &--head{
      width: 9rem;
      height: 9.5rem;
      background-color:#A8A29B;
      position: absolute;
      top: 40%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
     &--body{
      width: 70%;
      height: 8.2rem;
      background-color:#A8A29B;
      position: absolute;
      top: 58%;
      border-radius: 80% / 90%;
      left: 50%;
      transform: translate(-50%, 20%);
       
       @media (max-width: 700px){
         height: 7rem;
         top: 60%;
      }
    }
  }
}

$colors:(
  #C1C1B8,
  #59C7FA,
  #FE9500,
  #4BD762
);

@for $n from 1 through 4{
  .contain__tabs--tab-#{$n}{
    width:10rem;
    height: calc(32.5rem/ 4);
    background-color:nth($colors, $n);
    display: block;
    position: relative;
    left: 82.5%;
    top: -24rem;
    z-index: -1;
      @media (max-width: 700px){
        top: -22rem;
    }
    &:first-child{
        border-top-right-radius: 120px;
    }
    &:last-child{
        border-bottom-right-radius: 120px;
    }
  }
}

h1{
  font-family: Arial;
  font-weight: 100;
  color: gray;
  font-size: 3rem;
}
